<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>GrandPyBot</title>

</head>

<body >
    <!-- Header -->
    <header>
        <img id=logo src="../static/images/logogpb.png" alt="Mirifique logo powered by MSPaint TM" /> 
        <h1> Exploitez toute la puissance incroyablement extraordinaire de l'Internet avec GrandPyBot, un logiciel <b>moderne</b> fonctionnant à l'énergie <b>électrique</b> !</h1>
    </header>

    <div class="chatbox">

        <div id="history">
        </div>

        <form method="get" >
            <input type="text" name="question" placeholder="Posez votre question à GrandPyBot !" size="50" required/>
            <input type="submit" value="Envoyer" />
        </form>
        
        <script src=../static/js/script.js> </script>
    </div>

    <footer>
        <div> Ce site est l'oeuvre magistrale de Victor Sorba, également connu sous le nom de Siridian sur la plateforme de versionnage Github (tel qu'observable en cliquant sur <a href=https://github.com/Siridian/GrandPyBot> ce lien</a>)
    </footer>

</body>

</html>
