header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 1.5em;
    color: fuchsia;
}

header img
{
    float: left;
    padding: 30px;
}

footer
{
    font-size: 0.8em;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    clear: both;
    color: aqua;
    margin-top: 50px
}

footer a
{
    color: white;
    text-decoration : none;
}

a:hover
{
    text-decoration: underline;
}

a:visited
{
    color: rgb(200, 150, 150);
}

b
{
    font-style: italic;
}

body
{
    background-color: rgb(35, 35, 35);
    height: 90%;
}

.chatbox
{
    background-color: white;
    width: 90%; 
    max-height: 400px;
    margin:auto;
    border: 3px solid aqua;
    overflow: auto;
    word-wrap: break-word;
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}

#history
{
    width: 100%;
    overflow-y: auto;
}

@media all and (max-device-width: 480px)
{

    .chatbox
    {
        height: 150px;
    }

    img:not(#logo)
    {
        max-width: 50px;
        max-height: 50px;
    }
}